@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin textarea($width, $height, $resize) {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: $width;
  height: $height;
  resize: $resize;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  box-sizing: border-box;
  padding: 10px;
}

@mixin materialShadow() {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin modalContainer() {
  height: 100%;
  width: 100%;
  @include flex(center, center, column);
  box-sizing: border-box;
  padding: 10px 30px;
}